*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow-x: hidden;
  user-select: none;
}

button {
  transition: all 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  height: min-content;
  min-height: 60vh;
  background-color: #fca311;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}
.header__left-box {
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.header__left-box h2 {
  font-size: 7.4rem;
  color: #ffffff;
  letter-spacing: -1px;
  line-height: 1;
}
.header__left-box p {
  font-size: 2.1rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.header__left-box button {
  padding: 1rem 5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 999px;
  font-weight: 700;
}
.header__left-box .header__btn--product {
  background-color: #ffffff;
  color: #fca311;
  border: 2px solid #ffffff;
  margin-right: 1rem;
}
.header__left-box .header__btn--signup {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.header__right-box {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__right-box img {
  align-self: center;
  justify-self: center;
  min-width: 40rem;
  max-width: 50rem;
  height: auto;
}
.header__right-box .right-box__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(-20%);
}
.header__right-box .right-box__info p {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}
.header__right-box .right-box__info button {
  font-size: 2.4rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__right-box .shape-1,
.header__right-box .shape-2,
.header__right-box .shape-3 {
  content: "";
  display: flex;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.0823529412);
  width: 25px;
  height: 25px;
}
.header__right-box .shape-1 {
  background-color: #2a9d8f;
  top: 75%;
  right: 25%;
  animation: shape-move 10s 0.2s infinite;
}
.header__right-box .shape-2 {
  background-color: #8338ec;
  top: 25%;
  left: 65%;
  animation: shape-move 12s 2s infinite;
}
.header__right-box .shape-3 {
  top: 34%;
  left: 20%;
  background-color: #ff006e;
  animation: shape-move 20s 3s infinite;
}

.product {
  width: 100%;
  height: 40vh;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  overflow: hidden;
}
.product h1 {
  margin: 1rem 0;
  font-size: 3rem;
}
.product h2 {
  font-size: 2.8rem;
}
.product .btn {
  border-radius: 999px;
  z-index: 100;
  transition: all 0.2s;
  font-size: 4.8rem;
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  color: #666;
  background-color: transparent;
  cursor: pointer;
}
.product .btn--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}
.product .btn--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
}
.product .product__container {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.product .product__container .card {
  width: 25%;
  max-width: 30rem;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #ffffff;
  color: #444444;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.0823529412);
  transition: all 0.3s;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.product .product__container .card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1450980392);
}
.product .product__container .card__head {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product__container .card__head i {
  cursor: pointer;
  transition: all 0.3s;
}
.product .product__container .card__head i:hover {
  transform: translateY(-4px);
}
.product .product__container .card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0;
}
.product .product__container .card__body img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product .product__container .card__body h3 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.product .product__container .card__body p {
  font-size: 3.2rem;
  font-weight: 700;
}
.product .product__container .card__footer {
  display: flex;
}
.product .product__container .card__footer button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #fca311;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}
.product .product__container .card__footer button:hover {
  filter: brightness(110%);
}

@keyframes shape-move {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(35%, 70%) scale(1.4);
  }
  50% {
    transform: translate(20%, 95%) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
