*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.header {
  width: 100%;
  height: 50vh;
  background-color: #fca311;
  display: grid;
  grid-template-columns: repeat(2, minmax(40rem, 1fr));
}
.header__left-box {
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.header__left-box h2 {
  font-size: 4.2rem;
  color: #ffffff;
}
.header__left-box p {
  font-size: 2.1rem;
  color: #ffffff;
  margin-bottom: 4rem;
}
.header__left-box button {
  padding: 1rem 5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 999px;
  font-weight: 700;
}
.header__left-box .header__btn--product {
  background-color: #ffffff;
  color: #fca311;
  border: 2px solid #ffffff;
  margin-right: 1rem;
}
.header__left-box .header__btn--signup {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.header__right-box {
  padding: 2rem;
}

.product {
  width: 100%;
  height: 50vh;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  overflow: hidden;
}
.product h2 {
  font-size: 2.8rem;
}
.product .btn {
  border-radius: 999px;
  z-index: 100;
  transition: all 0.2s;
  font-size: 4.8rem;
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  color: #444444;
  background-color: transparent;
  cursor: pointer;
}
.product .btn--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}
.product .btn--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
}
.product .product__container {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.product .product__container .card {
  width: 25%;
  max-width: 30rem;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #ffffff;
  color: #444444;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1450980392);
  transition: all 0.3s;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.product .product__container .card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1450980392);
}
.product .product__container .card__head {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product__container .card__head i {
  cursor: pointer;
  transition: all 0.3s;
}
.product .product__container .card__head i:hover {
  transform: translateY(-4px);
}
.product .product__container .card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0;
}
.product .product__container .card__body img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product .product__container .card__body h3 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.product .product__container .card__body p {
  font-size: 3.2rem;
  font-weight: 700;
}
.product .product__container .card__footer {
  display: flex;
}
.product .product__container .card__footer button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #fca311;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}
.product .product__container .card__footer button:hover {
  filter: brightness(110%);
}

/*# sourceMappingURL=style.css.map */
