*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  // height: 100vh;
  overflow-x: hidden;
  user-select: none;
}
button {
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-2px);
}

// !Container-----------------------------------------//
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

// !Header--------------------------------------------//
.header {
  width: 100%;
  height: min-content;
  min-height: 50vh;
  background-color: #fca311;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  &__left-box {
    width: 100%;
    padding: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 7.4rem;
      color: #ffffff;
      letter-spacing: -1px;
      line-height: 1;
    }
    p {
      font-size: 2.1rem;
      color: #ffffff;
      margin-bottom: 2rem;
    }

    button {
      padding: 1rem 5rem;
      font-size: 1.8rem;
      border: none;
      border-radius: 999px;
      font-weight: 700;
    }

    .header__btn--product {
      background-color: #ffffff;
      color: #fca311;
      border: 2px solid #ffffff;
      margin-right: 1rem;
    }

    .header__btn--signup {
      background-color: transparent;
      color: #ffffff;
      border: 2px solid #ffffff;
    }
  }

  &__right-box {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // width: 30%;
      align-self: center;
      justify-self: center;
      min-width: 40rem;
      max-width: 50rem;
      height: auto;
      // transform: translate(-50%, -50%);
    }

    .right-box__info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transform: translateX(-20%);
      p {
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 700;
      }
      button {
        font-size: 2.4rem;
        color: #ffffff;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    .shape-1,
    .shape-2,
    .shape-3 {
      content: "";
      display: flex;
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 0.5rem 3rem #00000015;
      width: 25px;
      height: 25px;
    }
    .shape-1 {
      background-color: #2a9d8f;
      top: 75%;
      right: 25%;
      animation: shape-move 10s 0.2s infinite;
    }

    .shape-2 {
      background-color: #8338ec;
      top: 25%;
      left: 65%;
      animation: shape-move 12s 2s infinite;
    }
    .shape-3 {
      top: 34%;
      left: 20%;
      background-color: #ff006e;
      animation: shape-move 20s 3s infinite;
    }
  }
}

// !Product Section-----------------------------------//
.product {
  width: 80vw;
  max-width: 1920px;
  // height: 50vh;
  border: 2px solid #ffffff;
  scroll-behavior: smooth;
  // padding: 2rem;

  h1 {
    margin: 2rem 0;
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .btn {
    border-radius: 999px;
    z-index: 100;
    transition: all 0.2s;
    font-size: 4.8rem;
    width: 6.4rem;
    height: 6.4rem;
    border: none;
    color: #666;
    background-color: transparent;
    cursor: pointer;
  }
  .btn--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10%, -50%);
  }

  .btn--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);
  }

  .product__container {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      width: 25%;
      max-width: 30rem;

      flex-shrink: 0;
      flex-grow: 1;
      background-color: #ffffff;
      border: 2px solid #eee;
      color: #444444;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 1rem 0.5rem #00000015;
      transition: all 0.3s;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: column;

      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 2rem #00000025;
      }

      &__head {
        font-size: 2.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            transform: translateY(-4px);
          }
        }
      }

      &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        margin: 2rem 0;
        img {
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        h3 {
          font-size: 2.1rem;
          margin-bottom: 1rem;
          text-transform: capitalize;
        }
        p {
          font-size: 3.2rem;
          font-weight: 700;
        }
      }

      &__footer {
        display: flex;

        button {
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          border: none;
          background-color: #fca311;
          font-size: 1.8rem;
          color: #ffffff;
          font-weight: 700;

          &:hover {
            filter: brightness(110%);
          }
        }
      }
    }
  }
}

// !Animation --------------------------------------//
@keyframes shape-move {
  0% {
    transform: translate(0, 0) scale(1);
  }

  25% {
    transform: translate(35%, 70%) scale(1.4);
  }

  50% {
    transform: translate(20%, 95%) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
